<h1>Problems</h1>
<table>
    <thead>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Ascents</th>
        <th>Styles</th>
        <th>Zone</th>
    </thead>
    <tbody>
        {{#each problems}}
        <tr>
            <td>{{name}}</td>
            <td>{{difficulty}}</td>
            <td>{{ascents}}</td>
            <td>
                {{#each styles}}
                    <span>{{this}}&nbsp;&nbsp;</span>
                {{/each}}
            </td>
            <td>{{zone}}</td>
            <td><a href="/problems/{{id}}">Update</a></td>
            <td><button onclick="deleteProblem({{id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<h2>Add a problem:</h2>
<form id="addproblem" action="/problems" method="post">
    Name: <input type="text" name="name"><br>
    Difficulty: <input type="number" name="difficulty"><br>
    Styles: 
    {{#each styles}}
    {{name}}: <input type="checkbox" value="{{id}}" name="styles"><br>
    {{/each}}
    Zone: <select name="zone">
        {{#each zones}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
</form>