<h1>Update {{climber.name}}</h1>
<form id="update-climber" action="/climbers" method="post">
    Name: <input type="text" name="name" value="{{climber.name}}" required><br>
    Age: <input type="number" name="age" value="{{climber.age}}" required><br>
    Height (cm): <input type="number" name="height" value="{{climber.height}}" required><br>
    Weight (kg): <input type="number" name="weight" value="{{climber.weight}}" required><br>
    Home Zone: <select name="homezone">
        {{#each zones}}
        <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updateClimber({{climber.id}})">Update</button>
<script>
$(document).ready(function() {
    $("#climbers-link").addClass("active");
});
</script>